.footer
    .container
        .row.border-bottom
            .col-6.col-sm-6.col-md-3
                h3.active Follow us
                ul
                    li
                        
                        i.fa-brands.fa-facebook
                        h6 FaceBook
                    li
                       
                        i.fa-brands.fa-twitter
                        h6 Twiter
                    li
                       
                        i.fa-brands.fa-google-plus-g
                        h6 Google Plus
            .col-6.col-sm-6.col-md-3
                h3 Information
                ul
                    li
                        a(href='#') Specials
                    li
                        a(href='#') New products
                    li
                        a(href='#') Our stores
                    li
                        a(href='#') Contact  Us
                    li
                        a(href='#') Top sellers
            .col-6.col-sm-6.col-md-3
                h3 My account
                ul
                    li
                        a(href='#') My Account
                    li
                        a(href='#') My Credit slips
                    li
                        a(href='#') My Merchandise returns
                    li
                        a(href='#') My Personal info
                    li
                        a(href='#') My Addresses
            .col-6.col-sm-6.col-md-3
                h3 Store information
                p Email: tmhaunct2001@gmail.com
                p Phone: 0355587440
			
       
    .bottom
        | &copy; 2015 Luxury Watches. All Rights Reserved | Design by W3layouts
