.header
    .bg-dark.header-top
        .container
            .row.d-flex.justify-content-center.align-items-center
                .col-10.col-sm-9.col-md-8
                    .row
                        .col-6.col-sm-6.col-md-6
                            select.form-select.text-bg-dark.border-0
                                option(value='d' selected='') Dollar
                                option(value='e') Euro
                        .col-6.col-sm-6.col-md-6
                            select.form-select.text-bg-dark.border-0
                                option(value='eng' selected='') English
                                option(value='vie') VietNamese
                .col-2.col-sm-3.col-md-4.text-bg-dark
                    i.fa-solid.fa-cart-shopping
    // header mid
    .bg-white.header-mid.border-bottom
        p.h2.text-bg-white LUXURY WATCHES
    // header-bottom
    .bg-light.header-bottom
        nav.navbar.navbar-expand-md.bg-white
            .container
                .logo
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#cola')
                        span.navbar-toggler-icon
                #cola.collapse.navbar-collapse.justify-content-between
                    ul.navbar-nav
                        li.nav-item.pe-3
                            a.nav-link(href='index.html') Home
                        li.dropdown.nav-item
                            a.nav-link.dropdown-toggle(href='#' data-bs-toggle='dropdown') Men
                            ul.dropdown-menu(style='cursor:pointer')                           
                                li.dropdown-item
                                    a(href='products.html')
                                    | Citizen
                                li.dropdown-item
                                    a(href='products.html')
                                    | Casio
                                li.dropdown-item
                                    a(href='products.html')
                                    |Seikoo
                        li.dropdown.nav-item
                            a.nav-link.dropdown-toggle(href='#' data-bs-toggle='dropdown') Women
                            ul.dropdown-menu(style='cursor:pointer')                           
                                li.dropdown-item
                                    a(href='products.html')
                                    | Omega
                                li.dropdown-item
                                    a(href='products.html')
                                    | Longines
                                li.dropdown-item
                                    a(href='products.html')
                                    | Movado
                        li.nav-item.pe-3
                            a.nav-link(href='#') Product
                        li.nav-item.pe-3
                            a.nav-link(href='#') Contact
                        li.nav-item.pe-3
                            a.nav-link(href='#') Blog
                        

    


                    form.d-flex.mt-1
                        input.form-control.me-2(type='text' placeholder='Search')
                        button.btn.btn-primary(type='button') Search
