.header
    .bg-dark.header-top
        .container
            .row.d-flex.justify-content-center.align-items-center
                .col-10.col-sm-9.col-md-8
                    .row
                        .col-6.col-sm-6.col-md-6
                            select.form-select.text-bg-dark.border-0
                                option(value='d' selected='') Dollar
                                option(value='e') Euro
                        .col-6.col-sm-6.col-md-6
                            select.form-select.text-bg-dark.border-0
                                option(value='eng' selected='') English
                                option(value='vie') VietNamese
                .col-2.col-sm-3.col-md-4.text-bg-dark
                    i.fa-solid.fa-cart-shopping
    // header mid
    .bg-light.header-mid.border-bottom
        p.h2.text-bg-light LUXURY WATCHES
    // header-bottom
    .bg-light.header-bottom
        nav.navbar.navbar-expand-sm.bg-light
            .container
                .logo
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#cola')
                        span.navbar-toggler-icon
                #cola.collapse.navbar-collapse.justify-content-between
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='#') Trang ch&#x1EE7;
                        li.nav-item
                            a.nav-link(href='#') S&#x1EA3;n ph&#x1EA9;m
                        li.nav-item
                            a.nav-link(href='#') V&#x1EC1; ch&uacute;ng t&ocirc;i
                        li.nav-item
                            a.nav-link(href='#') Li&ecirc;n h&#x1EC7;
                    form.d-flex
                        input.form-control.me-2(type='text' placeholder='Search')
                        button.btn.btn-primary(type='button') Search
